.new-tweet {
  background: #eee;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  height: 135px;
  padding: 0.5em;
  text-align: left;
}

.new-tweet .counter {
  float: right;
  font-style: italic;
  padding: 0.2em 0.5em 0 0;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin: 0 0 10px 0;
}

.new-tweet textarea {
  padding: 8px 4px 4px 8px;
  width: 100%;
}

.new-tweet input {
  float: left;
}
 
.new-tweet .error {
  color: red;
  float: left;
  font-size: 0.7em;
  margin: 0;
  padding: 5px 0 0 10px;
}

.new-tweet textarea {
  padding: 8px 4px 4px 8px;
  width: 100%;
}