.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  line-height: 0;
  height: 0;
  visibility: hidden;
}

article.tweet {
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  margin-top: 1em;
  opacity: 0.8;
  text-align: left;
}

article.tweet:hover {
  opacity: 1;
}

article.tweet .avatar {
  border-radius: 5px;
  float: left;
  height: 100%;
}

article.tweet .body {
  height: 80px;
  margin: 0;
  padding: 20px 10px 20px 10px;
}

article.tweet .date {
  float: left;
  margin: 0;
  padding: 0 0 0 5px;
}

article.tweet .footer {
  border-top: 1px solid #D3D3D3;
  padding: 0.5em;
}

article.tweet .handle {
  float: right;
  margin: 0;
  padding: 8px 0 0 10px;
}

article.tweet .header {
  background: #eee;
  height: 80px;
  padding: 0.6em;
}

article.tweet .icon {
  color: #00a087;
  display: none;
  float: right;
  padding: 2px 10px 0 0;
}

article.tweet:hover .icon {
  display: block;
}

article.tweet .fa-heart .liked {
  color: red;
}

article.tweet .fa-heart:hover {
  color: red;
}

article.tweet .user {
  float: left;
  font-size: 1.6em;
  margin: 0;
  padding: 2px 0 0 10px;
}